:root{
    --black: #000;
    --blackLight: #222;
    --grayLight: #F5F5F5;
    --grayDark: #e2e2e2;
    --white: #FFF;
    --roxo: #7300fe;
    --roxoLight: #9a00ff;
    --redDrak: #a70c0c;
}