@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700;800&display=swap');
@import url('colors.css');

/* Estilizações basicas */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--white);
}

a {
    text-decoration: none;
}

/* Classes de alinhamento da página  */

.container {
    width: 1150px;
    margin: 0 auto;
}


.myFlex {
    display: flex;
}

.myBlock {
    display: block;
}

.myGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.screen {
    height: 100vh;
}

/* Estilização Banner */

.bannerRegistro {
    background-image: url('../img/banner/Banner.png');
    background-size: cover;
    background-position: 0 50%;
    border-bottom: 15px solid var(--purpleLight);
    margin-top: 5px;
}

.bannerRegistro h3:nth-child(1) {
    position: relative;
    letter-spacing: 3px;
    left: 13px;
    bottom: 20px;
    padding: 50px 33px;
    color: var(--white);
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 300;
}

.bannerRegistro h3:nth-child(2) {
    position: relative;
    letter-spacing: 5px;
    left: 40px;
    bottom: 75px;
    color: var(--purpleLight);
    font-size: 55px;
    text-transform: uppercase;
}



/* Estilização Formulário */

.divForm {
    margin-top: 10px;
}

.divForm h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}

.textPart {
    padding: 10px 0;
}

.textPart h3 {
    text-transform: uppercase;
    padding-bottom: 10px;
}

.textPart p {
    font-weight: 500;
}

.half-box label {
    text-transform: uppercase;
    font-weight: 500;
    
}

.half-box input {
    width: 99.5%;
}

/* Estilização do select de UF */

.myBlock > label {
    display: block;
    font-weight: 500;
}

#uf {
    width: 50%;
}

/* Estilização parte de input produtos */

.divProducts {
    width: 100%;
}

.divProducts label{
    text-transform: uppercase;
    font-weight: 700;
}

#selectProducts  { /* Select de produtos*/
    display: block;
    background: url("../img/form/arrow.png") no-repeat right transparent;
    border: 1px solid #0000000c;
    width: 100%;
    margin: 10px 0;
    height: 30px;
}


.info-products {
    display: flex;
}

.info-products label {
    margin: 0 1px;
    font-weight: 500;
}

.info-products input {
    display: flex;
    border: none;
    border-bottom: 2px solid var(--purpleLight);
    background-color: var(--grayLight);
    padding: 10px 10px;
    width: 100%;
}



/* Estilização Footer */

.divFooter {
    background: rgb(154, 0, 255);
    background: linear-gradient(90deg, rgba(154, 0, 255, 1) 58%, rgba(115, 0, 254, 1) 76%);
    height: 124px;
}

.divFooter h3 {
    text-align: center;
    letter-spacing: 3px;
    color: var(--white);
    font-size: 15px;
    text-transform: uppercase;
    padding: 10px 0;

}

.divFooter h3:nth-child(2) {
    padding-top: 25px;

}


.textMapaSite p,
span {
    margin: 0 auto;
    color: var(--white);
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 14px;
}

.myIcons {
    text-align: center;
}

i {
    color: var(--white);
    font-size: 20px;
    padding: 0 10px;
}

/* Estilização Inputs,Select e option */


/* Tirando efeitos de clique */
input:focus,
select:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
    transition: 0.8s;
    border-bottom: 2px solid var(--blackLight);
}

/* Tirando setas do input de type number */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* Deixando o input file invisível */

input[type='file'] {
    display: none;
}

input,
select,
option {
    border: none;
    border-bottom: 2px solid var(--purpleLight);
    background-color: var(--grayLight);
    margin: 10px 0;
    width: 100%;
    height: 30px;
}

option {
    color: var(--purpleLight);
    font-size: 14px;
}


select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url("../img/form/arrow.png") no-repeat right var(--grayLight);
    padding: 0 10px;
}

/* Botões More & Less */

.moreLess {
    justify-content: end;
}

.moreLess img {
    width: 50px;
    padding: 0 10px;
}

/* Estilização Anexo */

.divAnexo span {
    font-size: 10px;
    padding: 0 10px;
    color: var(--black);
}

#btnAnexo {
    background: rgb(154, 0, 255);
    background: linear-gradient(90deg, rgba(154, 0, 255, 1) 15%, rgba(115, 0, 254, 1) 85%);
    margin: 10px 10px 0 0;
    padding: 5px 15px;
    height: 30px;
    border-radius: 10px;
    color: var(--white);
}

#showFile {
    border: none;
    border-bottom: 2px solid var(--purpleLight);
    background-color: var(--grayLight);
    margin: 10px 0;
    padding: 5px 15px;
    width: 100%;
    height: 30px;
    border-radius: 0px;
    color: #00000099;
}

/* Estilização botão enviar */

.divBtnSend {
    text-align: right;
    margin-bottom: 10px;
}

.btnSend {
    background: rgb(154, 0, 255);
    background: linear-gradient(90deg, rgba(154, 0, 255, 1) 15%, rgba(115, 0, 254, 1) 85%);
    text-transform: uppercase;
    border: none;
    margin: 5px 10px 0 0;
    padding: 5px 15px;
    height: 30px;
    border-radius: 10px;
    color: var(--white);

}

/* Estilização de do erro para arquivos acima de 6MB */
#sizeFile {
    transition: .7s;
    font-size: 15px;
    opacity: 0;
}

/* Deixando página responsiva */

@media screen and (max-width: 768px) {

    /* Classes de alinhamento da página | responsivo */
    
    .screen {
        width: 100vw;
    }

    .container {
        width: 90%;
    }

    /* Estilização Banner responsivo */

    .bannerRegistro {
        margin: 5px 2px;
    }

    .bannerRegistro h3:nth-child(1) {
        left: 1px;
        padding: 50px 22px;
        font-size: 17px;
    }

    .bannerRegistro h3:nth-child(2) {
        position: relative;
        letter-spacing: 5px;
        left: 20px;
        bottom: 70px;
        color: var(--purpleLight);
        font-size: 25px;
        text-transform: uppercase;
    }

    /* Estilização Form responsivo */

    .half-box input {
        width: 95%;
    
    }


    
    #showFile {
        font-size: 10px;
    }
    .divBtnSend {
        margin-bottom: 10px;
    }

    /* Estilização Footer responsivo */
    .divFooter {
        background: rgb(154, 0, 255);
        background: linear-gradient(90deg, rgba(154, 0, 255, 1) 30%, rgba(115, 0, 254, 1) 70%);
        height: auto;
        width: 100%;
    }

    .textMapaSite {
        padding-bottom: 3px;

    }

    .textMapaSite p,
    span {
        font-size: 5px;
        margin: 0 auto;
        padding: 0;

    }

}